.myContainer 
  background-color: white
  display: flex
  flex-direction: column
  min-height: 100vh
  align-items: center
  padding: 16px
  gap: 10px

.messages
  display: flex
  flex-direction: column
  gap: 16px
  margin-top: 24px

